In [49]:
import pandas as pd

load results of the linear and rnn model and merge them in a single dataframe

In [50]:
df_linear = pd.read_csv("output/results_linear.csv")

In [51]:
df_rnn = pd.read_csv("output/results_rnn.csv")

In [52]:
df_merged = pd.concat((df_linear, df_rnn))

results for small hidden size, small dataset and small maximum sequence length

In [53]:
df_merged.query("hidden_size == 16 & train_count == 30000 & max_sequence_length == 20 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
0,L1NormLinear,16,30000,10000,10000,20,-20,20,NaN,0.000217
0,L1NormGRU,16,30000,10000,10000,20,-20,20,50.0,0.006418
1,L1NormLSTM,16,30000,10000,10000,20,-20,20,28.0,0.050997

results for other settings follows

In [54]:
df_merged.query("hidden_size == 16 & train_count == 30000 & max_sequence_length == 40 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
6,L1NormLinear,16,30000,10000,10000,40,-20,20,44.0,0.001356
3,L1NormLSTM,16,30000,10000,10000,40,-20,20,47.0,0.036751
2,L1NormGRU,16,30000,10000,10000,40,-20,20,26.0,0.097240

In [55]:
df_merged.query("hidden_size == 16 & train_count == 30000 & max_sequence_length == 80 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
12,L1NormLinear,16,30000,10000,10000,80,-20,20,32.0,0.008278
5,L1NormLSTM,16,30000,10000,10000,80,-20,20,NaN,0.066468
4,L1NormGRU,16,30000,10000,10000,80,-20,20,40.0,0.150496

In [56]:
df_merged.query("hidden_size == 32 & train_count == 30000 & max_sequence_length == 40 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
7,L1NormLinear,32,30000,10000,10000,40,-20,20,46.0,0.001828
7,L1NormLSTM,32,30000,10000,10000,40,-20,20,NaN,0.024553
6,L1NormGRU,32,30000,10000,10000,40,-20,20,35.0,0.024998

In [57]:
df_merged.query("hidden_size == 32 & train_count == 30000 & max_sequence_length == 80 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
13,L1NormLinear,32,30000,10000,10000,80,-20,20,NaN,0.010216
9,L1NormLSTM,32,30000,10000,10000,80,-20,20,35.0,0.161245
8,L1NormGRU,32,30000,10000,10000,80,-20,20,22.0,0.581799

In [58]:
df_merged.query("hidden_size == 32 & train_count == 80000 & max_sequence_length == 40 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
25,L1NormLinear,32,80000,30000,30000,40,-20,20,39.0,0.000184
12,L1NormGRU,32,80000,30000,30000,40,-20,20,20.0,0.016315
13,L1NormLSTM,32,80000,30000,30000,40,-20,20,23.0,0.017537

In [59]:
df_merged.query("hidden_size == 32 & train_count == 80000 & max_sequence_length == 80 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
31,L1NormLinear,32,80000,30000,30000,80,-20,20,28.0,0.003274
10,L1NormGRU,32,80000,30000,30000,80,-20,20,39.0,0.017481
11,L1NormLSTM,32,80000,30000,30000,80,-20,20,26.0,0.050796

In [60]:
df_merged.query("hidden_size == 64 & train_count == 80000 & max_sequence_length == 40 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
26,L1NormLinear,64,80000,30000,30000,40,-20,20,24.0,0.001844
14,L1NormGRU,64,80000,30000,30000,40,-20,20,24.0,0.008298
15,L1NormLSTM,64,80000,30000,30000,40,-20,20,20.0,0.019642

In [61]:
df_merged.query("hidden_size == 64 & train_count == 80000 & max_sequence_length == 80 & input_max == 20").sort_values("test_error")

,model_name,hidden_size,train_count,val_count,test_count,max_sequence_length,input_min,input_max,early_stop_epoch,test_error
32,L1NormLinear,64,80000,30000,30000,80,-20,20,18.0,0.021872
16,L1NormGRU,64,80000,30000,30000,80,-20,20,31.0,0.023022
17,L1NormLSTM,64,80000,30000,30000,80,-20,20,22.0,0.050407

On the highest sequence length with high hidden size the performance of the LSTM become and the linear model was almost the same. The training of the linear model stopped earlier. This shows that RNN models might be better for even higher sequence lengths, because they are capable of utilizing temporal relations better than a linear model with dense layers.